$text_color_default: #aaa;

// 文字颜色
$color_primary: #2EB253;
$color_danger: #2EB253;
$color_warning: #2EB253;
$color_auto: #fff;

// 字体
$font-f: Arial,"Helvetica Neue",Helvetica,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
