/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/reset";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography/text/ellipsis";
@import "compass/typography/links/link-colors";

//音乐播放的样式
.music-div{
	position: fixed;
	right: 20px;
	bottom: 20px; 
	width: 240px;
	height: 56px;
	padding: 0 10px;
	@include user-select(none);
	@include border-radius(10px);
	@include transition(all .3s ease);
	@include translate3d(0,0,0);
	overflow: hidden;
	// @include box-shadow(2px 2px 8px 0px #e1e1e1);
	z-index: 999;
	cursor:pointer;
	border:0;
	outline:0;

	.filterBg{
		position:absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left:0;
		filter:blur(8px);
		background:url('http://www.daiwei.org/index/images/img/indeximg.jpg') no-repeat;
		background-position:center right;
		background-size:cover;
		z-index: -1;
		overflow: hidden;
		@include transition(all 0.5s ease 0.1s);
	}
	
	&:hover{
		will-change:transform;
	}
	
	.music-play-div{
		width: 100%;
		height: 100%;
		@include display-flex;
		@include align-items(center);

		.pauseplay{
			width: 42px;
			height: 42px;
			@include border-radius(50%);
			background:rgba(7,17,27,0.3);
			@include transition(all .3s ease);
			cursor: pointer;
			color: #fff;
			@include display-flex;
			@include align-items(center);
			@include justify-content(center);
			@include flex( 0 0 42px);

			&:active{
				background:rgba(7,17,27,0.4);
			}

			i{
				font-size: 22px;
				display: block;
				// margin: 0 auto;
				color:rgba(244,244,244,0.56);
				
				&.fa-play{
					padding-left: 4px;
				}
			}
		}

		.next{
			width: 32px;
			height: 32px;
			@include border-radius(50%);
			background:rgba(7,17,27,0.3);
			cursor: pointer;
			margin-left: 10px;
			@include display-flex;
			@include align-items(center);
			@include justify-content(center);
			@include flex(0 0 32px);

			@include transition(all .3s ease);

			&:active{
				background:rgba(7,17,27,0.4);
			}

			i{
				color:rgba(244,244,244,0.56);
				display: block;
				// margin: 0 auto;
				font-size:14px;
			}
		}

		.music-info{
			@include display-flex;
			@include align-items(center);
			@include justify-content(center);
			@include flex-direction(column);
			@include flex(1 1 auto);
			margin-left: 10px;
			overflow: hidden;
			height: 35px;

			p{
				display: block;
				text-align: center;
				width: 100%;
				@include ellipsis();
                font-family: 'Microsoft YaHei';
                line-height: initial;

                &.music-name{
                	flex: 1;
                	color: #fff;
                	font-size: 14px;
                	@include user-select(none);
                }

                &.music-singer{
                	flex: 1;
                	color: #eee;
                	font-size: 12px;
                	@include user-select(none);
                }
			}
		}
	}
	
	.music-typeSelect{
		position:absolute;
		width: 100%;
		height: 100%;
		background:rgba(0,0,0,1);
		@include display-flex;
		@include align-items(center);
		top: 0;
	    left: 0;
	    color: #fff;

	    div{
	    	@include flex(1);
	    	height: 100%;
	    	@include ellipsis();
			@include display-flex;
			@include justify-content(center);
			@include align-items(center);
			position: relative;
			font-size: 14px;
			cursor: pointer;

			&:not(:last-child):after{
				content: '';
				height: 60%;
				position:absolute;
				right: 0px;
				width: 1px;
				background:rgba(230,230,230,0.4);
				top:50%;
				@include translate3d(0,-50%,0);
			}

			&:active{
				background:rgba(255,255,255,0.1);
			}
	    }
	}

	.music-div-logo{
		width: auto;
		height: auto;
		position:relative;
		display: none;

		.music-logo{
			width: 58px;
			height: 58px;
			@include border-radius(50%);
			@include animation((rotateMusicLogo 8s linear infinite));
			@include animation-play-state(paused);

			&.active{
				// @include animation-properties((animation-duration: 8s,animation-name: rotateMusicLogo,animation-timing-function:linear,animation-iteration-count:infinite));
				@include animation-play-state(running);
			}

			@keyframes rotateMusicLogo{
		        0% {
		            transform: rotate(0);
		        }

		        50%{
		            transform: rotate(180deg);
		        }

		        100%{
		            transform: rotate(360deg);
		        }
		    }

		    @-webkit-keyframes rotateMusicLogo{
		         0% {
		            transform: rotate(0);
		        }

		        50%{
		            transform: rotate(180deg);
		        }

		        100%{
		            transform: rotate(360deg);
		        }
		    }

		    @-moz-keyframes rotateMusicLogo{
		         0% {
		            transform: rotate(0);
		        }

		        50%{
		            transform: rotate(180deg);
		        }

		        100%{
		            transform: rotate(360deg);
		        }
		    }
		}
	}

	&.circle{
		padding:0;
		height: 58px!important;
		width: 58px!important;
		@include border-radius(50%);
		// @include box-shadow(0 0 0 3px rgba(0,0,0,.2));

		.music-play-div{
			display: none;
		}

		.music-div-logo{
			display: block;
		}
	}
}

//loading的样式
//这是Loading的自定义组件样式
.cpt-loading-mask *{
	@include box-sizing(border-box);
}
.cpt-loading-mask{
	&.column{
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background:transparent; 
		z-index: 100;
		@include translateZ(0);
		@include user-select(none);

		.div-loading{
			position:absolute;
			top:50%;
			left:50%;
			width: 260px;
			background:rgba(0,0,0,0.6);
			@include translate(-50%,-50%);
			@include translate3d(-50%,-50%,0);
			@include border-radius(12px);
			padding: 16px;

			.loading{
				position: relative;
				width: 60px;
				height: 60px;
				background: transparent;
				margin: 0 auto;
				
				&.origin{
					div{
						width: 80%;
						height: 80%;
						position: absolute;
						left: 10%;
						top: 10%;
						@include opacity(1);
						@include animation(load 2.28s linear infinite);

						span{
							display: inline-block;
							width: 8px;
							height: 8px;
							border-radius: 50%;
							background: #FBC9B9;
							position: absolute;
							left: 50%;
							margin-top: -10px;
							margin-left: -10px;

						}

						&:nth-child(1){
							@include animation-delay(0.2s);
						}
						&:nth-child(2){
							@include animation-delay(0.4s);
						}
						&:nth-child(3){
							@include animation-delay(0.6s);
						}
						&:nth-child(4){
							@include animation-delay(0.8s);
						}
						&:nth-child(5){
							@include animation-delay(1s);
						}
					}
				}

				&.pic{
					width: 80px;
					height: 80px;

					img{
						width: 100%;
						height: 100%;
					}
				}
			}

			.loading-title{
				width: 100%;
				text-align: center;
				color: #fff;
				font-size: 16px;
				// margin: 15px 0;
				margin-bottom: 20px;
				@include ellipsis();
			}

			.loading-discription{
				width: 100%;
				text-align: center;
				color: #fff;
				font-size: 12px;
				// margin: 15px 0;
				margin-top:20px;
			}
		}
	}

	&.row{
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background:transparent; 
		z-index: 100;
		@include translateZ(0);
		@include user-select(none);

		.div-loading{
			position:absolute;
			top:50%;
			left:50%;
			width: 260px;
			background:rgba(0,0,0,0.6);
			@include display-flex;
			@include align-items(center);
			@include justify-content(center);
			@include flex-direction(row-reverse);
			@include translate(-50%,-50%);
			@include translate3d(-50%,-50%,0);
			@include border-radius(12px);
			padding: 15px;

			.loading{
				position: relative;
				width: 60px;
				height: 60px;
				background: transparent;
				// margin: 0 auto;
				float: left;
				
				&.origin{
					div{
						width: 80%;
						height: 80%;
						position: absolute;
						left: 10%;
						top: 10%;
						@include opacity(1);
						@include animation(load 2.28s linear infinite);

						span{
							display: inline-block;
							width: 8px;
							height: 8px;
							border-radius: 50%;
							background: #FBC9B9;
							position: absolute;
							left: 50%;
							margin-top: -10px;
							margin-left: -10px;

						}

						&:nth-child(1){
							@include animation-delay(0.2s);
						}
						&:nth-child(2){
							@include animation-delay(0.4s);
						}
						&:nth-child(3){
							@include animation-delay(0.6s);
						}
						&:nth-child(4){
							@include animation-delay(0.8s);
						}
						&:nth-child(5){
							@include animation-delay(1s);
						}
					}
				}

				&.pic{
					width: 80px;
					height: 80px;

					img{
						width: 100%;
						height: 100%;
					}
				}
			}

			.loading-title{
				width: 72%;
				text-align: center;
				color: #fff;
				font-size: 16px;
				padding: 2px 0;
				padding-left: 20px;
				// margin: 15px 0;
				margin-bottom: 0;
				@include ellipsis();
			}

			.loading-discription{
				display: none;
				width: 100%;
				text-align: center;
				color: #fff;
				font-size: 12px;
				// margin: 15px 0;
				margin-top:20px;
			}
		}
	}
}


//***************************************fadeInNoTransform
@-webkit-keyframes fadeInNoTransform{
	0%{opacity:0;}
	100%{opacity:1;}
}

@keyframes fadeInNoTransform{
	0%{opacity:0;}
	100%{opacity:1;}
}

.fadeInNoTransform{-webkit-animation-name:fadeInNoTransform;animation-name:fadeInNoTransform}

//***************************************fadeOutNoTransform
@-webkit-keyframes fadeOutNoTransform{
	0%{opacity:1;}
	100%{opacity:0;}
}

@keyframes fadeOutNoTransform{
	0%{opacity:1;}
	100%{opacity:0;}
}

.fadeOutNoTransform{-webkit-animation-name:fadeOutNoTransform;animation-name:fadeOutNoTransform}


@-webkit-keyframes load{
	0%{
		@include rotate(0deg);
	}
	10%{
		@include rotate(45deg);
	}
	50%{
		@include opacity(1);
		@include rotate(160deg);
	}
	62%{
		@include opacity(0);
	}
	65%{
		@include opacity(0);
		@include rotate(200deg);
	}
	90%{
		@include rotate(340deg);
	}
	100%{
		@include rotate(360deg);
	}
}

@-moz-keyframes load{
	0%{
		@include rotate(0deg);
	}
	10%{
		@include rotate(45deg);
	}
	50%{
		@include opacity(1);
		@include rotate(160deg);
	}
	62%{
		@include opacity(0);
	}
	65%{
		@include opacity(0);
		@include rotate(200deg);
	}
	90%{
		@include rotate(340deg);
	}
	100%{
		@include rotate(360deg);
	}
}

@-ms-keyframes load{
	0%{
		@include rotate(0deg);
	}
	10%{
		@include rotate(45deg);
	}
	50%{
		@include opacity(1);
		@include rotate(160deg);
	}
	62%{
		@include opacity(0);
	}
	65%{
		@include opacity(0);
		@include rotate(200deg);
	}
	90%{
		@include rotate(340deg);
	}
	100%{
		@include rotate(360deg);
	}
}

@-o-keyframes load{
	0%{
		@include rotate(0deg);
	}
	10%{
		@include rotate(45deg);
	}
	50%{
		@include opacity(1);
		@include rotate(160deg);
	}
	62%{
		@include opacity(0);
	}
	65%{
		@include opacity(0);
		@include rotate(200deg);
	}
	90%{
		@include rotate(340deg);
	}
	100%{
		@include rotate(360deg);
	}
}

@keyframes load{
	0%{
		@include rotate(0deg);
	}
	10%{
		@include rotate(45deg);
	}
	50%{
		@include opacity(1);
		@include rotate(160deg);
	}
	62%{
		@include opacity(0);
	}
	65%{
		@include opacity(0);
		@include rotate(200deg);
	}
	90%{
		@include rotate(340deg);
	}
	100%{
		@include rotate(360deg);
	}
}


