@import '~scss/common/_index.scss';
body,html{
	margin: 0;
	padding: 0;
	height:100%;
	background: #111010;
}
body{
	// background: red;
	@include display-flex;
	width: 100%;
	height: 100%;
	@include align-items(center);
	@include justify-content(center);
	@include flex-direction(column);
	.title{
		font-size: 42px;
		@include colortext-l(rgb(47, 190, 195), rgb(112, 209, 47));
		@include inline-block;
		margin-top: 0;
	}
	.disc{
		font-size: 14px;
		color: #f1f1f1;
	}
	.github-info{
		margin-top: 40px;
		text-align: center;
		@include display-flex;
		@include justify-content(center);
		span{
			color: $color_auto;
			font: $font_auto;
			font-size:14px;
		}
	}
}